<a href="https://colab.research.google.com/github/ngg2000/Vanadium-Redox-Battery/blob/main/Python_Programming_And_Numerical_Methods_A_Guide_For_Engineers_And_Scientists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<h1>Chapter 1: Python basics</h1>

### Problem 1. 

Print “I love Python” using Python Shell.

In [ ]:
print('I love Python')

I love Python

### Problem 2.

Print “I love Python” by typing it into a .py file and run it from command line.

In [ ]:
print('I love Python')

I love Python

### Problem 3

Type import antigravity in the Ipython Shell, it will take you to xkcd and see the awesome Python.

In [ ]:
import antigravity

### Problem  4

Launch a new Jupyter notebook server in a folder called “excercis” and create a new Python notebook with the name “excercis_1”, then you can do the rest of the problems within this notebook.

* Unable to do it: i'm working in Colab.

### Problem 5

Compute the area of a triangle with base 10 and height 12. Recall that the area of a triangle is half the base times the height

In [ ]:
b = 10;
h = 12;
a = 0.5*b*h;
print('The area of a triangle is' , str(a) , )

The area of a triangle is 60.0

### Problem 6

Compute the surface area and volume of a cylinder with radius 5 and height 3

In [ ]:
r = 5;
h = 3;
import math

* Area of a cylinder

In [ ]:
a = 2 * math.pi * r**2 + 2 * math.pi * r * h
print('The surface area of a cylinder is' , str(a), )

The surface area of a cylinder is 251.32741228718345

* Volume of a cylinder

In [ ]:
v = math.pi  * r**2 * h
print('The volume of a cylinder is' , str(v) , )

The volume of a cylinder is 235.61944901923448

### Problem 7

Compute the slope between the points (3,4) and (5,9). Recall that the slope between points $(x_1,y_1)$ and $(x_2,y_2)$ is $\frac{y_2−y_1}{x_2−x_1}$

In [ ]:
x1 = 3
x2 = 5
y1 = 4
y2 = 9
m = 1 / ((x2 - x1) / (y2 - y1))
print('The slope between the points (3,4) and (5,9) is' , str(m) , )

The slope between the points (3,4) and (5,9) is 2.5

### Problem 8

Compute the distance between the points (3,4) and (5,9). Recall that the distance between points in two dimensions is $\sqrt{(x_2−x_1)^2+(y_2−y_1)^2}$.

In [ ]:
d = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
print('The distance between the points (3,4) and (5,9) is' , str(d) , )

The distance between the points (3,4) and (5,9) is 5.385164807134504

### Problem 9

Use Python’s factorial function to compute $6!$

In [ ]:
fac = math.factorial(6)
print('6! = ' , str(fac) , )

6! =  720

### Problem 10

A year is considered to be 365 days long. However, a more exact figure is 365.24 days. As a consequence, if we held to the standard 365-day year, we would gradually lose that fraction of the day over time, and seasons and other astronomical events would not occur as expected. A leap year is a year that has an extra day, February 29, to keep the timescale on track. Leap years occur on years that are exactly divisible by 4, unless it is exactly divisible by 100, unless it is divisible by 400. For example, the year 2004 is a leap year, the year 1900 is not a leap year, and the year 2000 is a leap year.
Compute the number of leap years between the years 1500 and 2010.

1. Let's start by defining the years between 1500 and 2010:

In [ ]:
2010-1500

510

2. Then, the number of leap years is the entire part of $\frac{510}{4}$

In [ ]:
510/4

127.5

3. Answer: the number of leap years between 1500 and 2010 is 127 years.

### Problem 11

A very powerful approximation for π was developed by a brilliant mathematician named Srinivasa Ramanujan. The approximation is the following:
$\frac{1}{π}≈\frac{2\sqrt{2}}{9801} ∑^N_{k=0}\frac{(4k)!(1103+26390k)}{(k!)^4 396^{4k}}$
Use Ramanujan’s formula for $N=0$ and $N=1$ to approximate π. Be sure to use format long. Compare your approximation with Python’s stored value for pi. Hint: $0!=1$ by definition.

* Ramanujan's formula:

In [ ]:
piinv=0
for i in range(0,2):
  piinv=piinv+(math.factorial(4*i)*(1103+26390*i)/(((math.factorial(i))**4)*math.pow(396,4*i)))

1/(2*(math.sqrt(2)/9801)*piinv)

3.1415926535897936

* Comparing my aproximation with Python's stored value for pi:

In [ ]:
math.pi - 1/(2*(math.sqrt(2)/9801)*piinv)

-4.440892098500626e-16

### Problem 12

The hyperbolic sin or sinh is defined in terms of exponentials as $sinh(x)=\frac{exp(x)−exp(−x)}{2}$.
Compute sinh for $x=2$ using exponentials. Verify that the result is indeed the hyperbolic sin using Python’s function sinh in the math module.

* Computing $sinh(x)|_{x=2}$ :

In [ ]:
sinh2 = 0.5 * (math.exp(2) - math.exp(-2))
sinh2

3.626860407847019

- Verification

In [ ]:
sinh2 - math.sinh(2)

0.0

### Problem 13

Verify that $sin^2(x) + cos^2(x)=1$ for $x=π,\frac{π}{2},\frac{π}{4},\frac{π}{6}$.

$x = \pi$

In [ ]:
math.sin(math.pi)**2 + math.cos(math.pi)**2

1.0

$x = \frac{\pi}{2}$

In [ ]:
math.sin(1/2*math.pi)**2 + math.cos(1/2*math.pi)**2

1.0

$x = \frac{\pi}{4}$

In [ ]:
math.sin(1/4*math.pi)**2 + math.cos(1/4*math.pi)**2

1.0

$x = \frac{\pi}{6}$

In [ ]:
math.sin(1/6*math.pi)**2 + math.cos(1/6*math.pi)**2

1.0

### Problem 14

Compute the $sin \ 87°$.

In [ ]:
s87 = math.sin(math.radians(87))
print('The sin of 87º is ' , str(s87) , )

The sin of 87º is  0.9986295347545738

### Problem 15

Write a Python statement that generates the following error:
“AttributeError: module ‘math’ has no attribute ‘sni’”

Hint: sni is a misspelling of the function sin.

In [ ]:
math.sni(math.pi * 1/2)

AttributeError: ignored

### Problem 16

Write a Python statement that generates the following error:
“TypeError: sin() takes exactly one argument (0 given)”

Hint: Input arguments refers to the input of a function (any function); for example, the input in sin(pi/2) is pi/2.

In [ ]:
math.sin()

TypeError: ignored

### Problem 17

If $P$ is a logical expression, the law of noncontradiction states that $P \ AND \ (NOT \ P)$ is always false. Verify this for $P$ true and $P$ false.

In [ ]:
P = 1
P and (not P)

False

In [ ]:
P = 0
P and (not P)

0

### Problem 18

Let $P$ and $Q$ be logical expressions. De Morgan’s rule states that $NOT \ (P \ OR \ Q) \ = \ (NOT \ P) \ AND \ (NOT \ Q)$ and $NOT \ (P \ AND \ Q) \ = \ (NOT \ P) \ OR \ (NOT \ Q)$. Generate the truth tables for each statement to show that De Morgan’s rule is always true.

In [ ]:
for p in range(0,2):
  for q in range (0,2):
    print("Para p = " + str(p) + " y q = " + str(q))
    print("Verifico 1º Ley: not (p or q) = not p and not q")
    print(not (p or q))
    print((not p and not q))
    print("Verifico 2º Ley: not (p and q) = not p or not q")
    print(not (p and q))
    print((not p) or (not q))

Para p = 0 y q = 0
Verifico 1º Ley: not (p or q) = not p and not q
True
True
Verifico 2º Ley: not (p and q) = not p or not q
True
True
Para p = 0 y q = 1
Verifico 1º Ley: not (p or q) = not p and not q
False
False
Verifico 2º Ley: not (p and q) = not p or not q
True
True
Para p = 1 y q = 0
Verifico 1º Ley: not (p or q) = not p and not q
False
False
Verifico 2º Ley: not (p and q) = not p or not q
True
True
Para p = 1 y q = 1
Verifico 1º Ley: not (p or q) = not p and not q
False
False
Verifico 2º Ley: not (p and q) = not p or not q
False
False

### Problem 19

Under what conditions for $P$ and $Q$ is $(P \ AND \ Q) \ OR \ [P \ AND \ (NOT \ Q)]$ false?

In [ ]:
for p in range(0,2):
  for q in range (0,2):
    print("Para p = " + str(p) + " y q = " + str(q))
    print("Verifico que (p and q) or [p and (not q)] sea falsa")
    print(not (p or q) or (p and (not q)))

Para p = 0 y q = 0
Verifico que (p and q) or [p and (not q)] sea falsa
True
Para p = 0 y q = 1
Verifico que (p and q) or [p and (not q)] sea falsa
0
Para p = 1 y q = 0
Verifico que (p and q) or [p and (not q)] sea falsa
True
Para p = 1 y q = 1
Verifico que (p and q) or [p and (not q)] sea falsa
False

P             | Q             | (P  AND  Q) OR [P AND (NOT Q)]
--------------|---------------|-----------------------------------------------
0             | 0             | True
0             | 1             | False
1             | 0             | True
1             | 1             | False

### Problem 20

Construct an equivalent logical expression for OR using only AND and NOT.

Using logical expression OR:

In [ ]:
for p in range(0,2):
  for q in range (0,2):
    print("Para p = " + str(p) + " y q = " + str(q))
    print(p or q)

Para p = 0 y q = 0
0
Para p = 0 y q = 1
1
Para p = 1 y q = 0
1
Para p = 1 y q = 1
1

Using $NOT \ [(NOT \ P) \ AND \ (NOT \ Q)] $

(Taken from De Morgan's rule)

In [ ]:
for p in range(0,2):
  for q in range (0,2):
    print("Para p = " + str(p) + " y q = " + str(q))
    print(not((not p) and (not q)))

Para p = 0 y q = 0
False
Para p = 0 y q = 1
True
Para p = 1 y q = 0
True
Para p = 1 y q = 1
True

Successfully completed.

### Problem 21

Construct an equivalent logical expression for AND using only OR and NOT

Using $P \ AND \ Q$

In [ ]:
for p in range(0,2):
  for q in range (0,2):
    print("Para p = " + str(p) + " y q = " + str(q))
    print(p and q)

Para p = 0 y q = 0
0
Para p = 0 y q = 1
0
Para p = 1 y q = 0
0
Para p = 1 y q = 1
1

Using $NOT \ [(NOT \ P) \ OR \ (NOT \ Q)] $

(Taken from De Morgan's rule)

In [ ]:
for p in range(0,2):
  for q in range (0,2):
    print("Para p = " + str(p) + " y q = " + str(q))
    print(not((not p) or (not q)))

Para p = 0 y q = 0
False
Para p = 0 y q = 1
False
Para p = 1 y q = 0
False
Para p = 1 y q = 1
True

### Problem 22

The logical operator XOR has the following truth table:

![image.png]()

Construct an equivalent logical expression for XOR using only AND, OR, and NOT that has the same truth table (see the following figure)

In [ ]:
print("Se plantea que el comando equivalente al XOR es P and not Q")
for p in range(0,2):
  for q in range (0,2):
    print("Para P = " + str(p) + " y Q = " + str(q))
    print((p and not q) or (not p and q))

Se plantea que el comando equivalente al XOR es P and not Q
Para P = 0 y Q = 0
0
Para P = 0 y Q = 1
1
Para P = 1 y Q = 0
True
Para P = 1 y Q = 1
False

### Extra exercise 1

Do the following calculation at the Python command prompt.
$e^2sin\frac{π}{6}+log_e(3)cos(\frac{π}{9})−5^3$

In [ ]:
math.exp(2) * math.sin(math.pi * 1/6) + math.log(3) * math.cos(math.pi *1/9) - 5**3

-120.27311408976854

### Extra exercise 2

Do the following logical and comparison operations at the Python command prompt. You may assume that P and Q are logical expressions.

For P = 1 and Q = 1; Compute NOT(P) AND NOT(Q).

For a = 10 and b = 25; Compute (a<b) AND (a=b).

In [ ]:
p = 1
q = 1
(not p) and (not q)

False

In [ ]:
a=10
b=25
(a<b) and (a == b)

False

# Chapter 2: Variables and Basic Data Structures

1. Assign the value 2 to the variable x and the value 3 to the variable y. Clear just the variable x.

In [ ]:
x = 2
y = 3
print('x =' , str(x) , 'and y = ' , str(y) , )

x = 2 and y =  3

In [ ]:
del x

2. Write a line of code that generates the following error:

![image.png]()

In [ ]:
x

NameError: ignored

3. Let x = 10 and y = 3. Write a line of code that will make each of the following assignments.

![image.png]()

In [ ]:
x = 10
y = 3
print('x =' , str(x) , 'and y = ' , str(y) , )
u = x + y
v = x * y
w = x / y
z = math.sin(x)
r = 8 * math.sin(x)
s = 5 * math.sin(x * y)
p = x**y 
print('u =' , str(u) ,', v =' , str(v) ,', z =' , str(z) ,', r =' , str(r) ,', s =' , str(s) ,', p =' , str(p) , )

### Problem 1

Show all the variables in the Jupyter notebook after you finish problem 3.

* Done in the previous problem.

### Problem 2

Assign string ‘123’ to the variable S. Convert the string into a float type and assign the output to the variable N. Verify that S is a string and N is a float using the type function.

In [ ]:
S = '123'

In [ ]:
N = float(S)

In [ ]:
type(S)

In [ ]:
type(N)

### Problem 3

Assign the string ‘HELLO’ to the variable s1 and the string ‘hello’ to the variable s2.

Use the == operator to show that they are not equal.

Use the == operator to show that s1 and s2 are equal if the lower method is used on s1.

Use the == operator to show that s1 and s2 are equal if upper method is used on s2.

In [ ]:
s1 = 'HELLO'
s2 = 'hello'

In [ ]:
s1 == s2

In [ ]:
s1.lower() == s2

In [ ]:
s1 == s2.upper()

### Problem 4

Use the print function to generate the following strings.

* The word ‘Engineering’ has 11 letters.

* The word ‘Book’ has 4 letters.

In [ ]:
print('The word \' Engineering \' has 11 letters')
print('The word \' Book \' has 4 letters')

### Problem 5

Check if ‘Python’ is in ‘Python is great!’

In [ ]:
'Python' in 'Python is great!'

### Problem 6

Get the last word ‘great’ from ‘Python is great!’

In [ ]:
w = 'Python is great!'
w[10:-1]

### Problem 7

Assign list [1, 8, 9, 15] to a variable *list_a* and insert 2 at index 1 using the insert method. Append 4 to the *list_a* using the append method.

In [ ]:
list_a = [1,8,9,15]

In [ ]:
list_a.insert(0,2)

In [ ]:
list_a

In [ ]:
list_a.append(4)

In [ ]:
list_a

### Problem 8

Sort the list_a in problem 7 in ascending order.

In [ ]:
list_a = [1,2,4,8,9,15]
list_a

### Problem 9

Turn ‘Python is great!’ to a list.

In [ ]:
list_z = ['Python','is','great','!']

In [ ]:
list_z

### Problem 10

Create one tuple with element ‘One’, 1 and assign it to tuple_a

In [ ]:
tuple_x = ('One', 1)

In [ ]:
tuple_a = tuple_x

In [ ]:
tuple_a

### Problem 11

Get the 2nd element in the tuple_a in problem 10.

In [ ]:
tuple_a[1]

### Problem 12

Get the unique element from (2, 3, 2, 3, 1, 2, 5).

In [ ]:
uio = (2,3,2,3,1,2,5)

In [ ]:
set(uio)

### Problem 13

Assign (2, 3, 2) to set_a, and (1, 2, 3) to set_b. Get the following:

* union of set_a and set_b

* intersection of set_a and set_b

* difference of set_a to set_b using difference method

In [ ]:
set_a = set((2,3,2))
set_b = set((1,2,3))

In [ ]:
set_a.union(set_b)

In [ ]:
set_a.intersection(set_b)

In [ ]:
set_b - set_a

### Problem 14

Create a dictionary that has the keys ‘A’, ‘B’, ‘C’ with values ‘a’, ‘b’, ‘c’ individually. Print all the keys in the dictionary.

In [ ]:
dict_1 = {'A':'a', 'B':'b', 'C':'c'}

In [ ]:
dict_1['A']

In [ ]:
dict_1['B']

In [ ]:
dict_1['C']

In [ ]:
dict_1.keys()

### Problem 15

Check if key ‘B’ is in the dictionary defined in problem 13.

* Done in the previous problem.

### Problem 16

Create array x and y, where x = [1, 4, 3, 2, 9, 4] and y=[2, 3, 4, 1, 2, 3]. Compute the assignments from Problem 3.

In [ ]:
import numpy as np

In [ ]:
x = np.array([1,4,3,2,9,4])
y = np.array([2,3,4,1,2,3])

Taken from third exercise, using numpy libraries:

In [ ]:
u = x + y
v = x * y
w = x / y
p = x**y 
z = np.sin(x)
r = 8 * np.sin(x)
s = 5 * np.sin(x * y)
print('u =' , str(u) ,', v =' , str(v) ,', z =' , str(z) ,', r =' , str(r) ,', s =' , str(s) ,', p =' , str(p) , )

### Problem 17

Generate an array with size 100 evenly spaced between -10 to 10 using linspace function in Numpy.

In [ ]:
np.linspace(-10,10,100)

### Problem 18

Let array_a be an array [-1, 0, 1, 2, 0, 3]. Write a command that will return an array consisting of all the elements of array_a that are larger than zero. Hint: Use logical expression as the index of the array.

In [ ]:
array_a = np.array([-1,0,1,2,0,3])

In [ ]:
del array_c
array_c = []

In [ ]:
for i in range(0,len(array_a)):
  if array_a[i]>0:
    array_c.append(array_a[i])

In [ ]:
array_c

[1, 2, 3]

### Problem 19

Create an array $y= \begin{bmatrix} 3 & 5 & 3 \\ 2 & 2 & 5 \\ 3 & 8 & 9 \end{bmatrix}$ and calculate the transpose of the array.

In [ ]:
y = np.array([[3,5,3],[2,2,5],[3,8,9]])
y

array([[3, 5, 3],
       [2, 2, 5],
       [3, 8, 9]])

$y^T$

In [ ]:
y.T

array([[3, 2, 3],
       [5, 2, 8],
       [3, 5, 9]])

### Problem 20

Create a zero array with size (2, 4).

In [ ]:
a = np.zeros((2,4))
a

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

### Problem 21

Change the 2nd column in the above array to 1.

In [ ]:
a[0,1] = 1
a[1,1] = 1
a

array([[0., 1., 0., 0.],
       [0., 1., 0., 0.]])

### Problem 22

Write a cell magic to clear all the variables in the Jupyter notebook

In [ ]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

# Chapter 3: Functions